@{
    ViewBag.Title = "About";
}


<div class="container">
    <h2>Take a Coffee!</h2>
    <img class="img-responsive" src="https://images.pexels.com/photos/3082784/pexels-photo-3082784.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Chania" />
</div>

<p>Use this area to provide additional information.</p>
